.sample-overlay {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px #eee;
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
