:root {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.sample-overlay {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px #eee;
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filterInput {
  float: right;
}

.pbl-ngrid-row {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}
